blinker==1.8.2
click==8.1.7
colorama==0.4.6
dlib==19.24.4
Flask==3.0.3
importlib_metadata==8.2.0
imutils==0.5.4
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.1
opencv-python==4.10.0.84
pandas==2.2.2
pygame==2.6.0
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.0
six==1.16.0
tzdata==2024.1
Werkzeug==3.0.3
zipp==3.19.2